/* ============================ Common CSS ==============================
=============================== 07/11/2022 ============================== */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
    --main-font: "Source Sans Pro", sans-serif;
    --main-color: #044a90;
    --second-color: #ff9400;
    --third-color: #3eae59;
    --error-color: #ff5050;
}

* {
    font-family: var(--main-font);
    color: #000;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 22px;
}

p {
    line-height: 22px;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

select {
    appearance: none;
}

.select-tag-parent {
    position: relative;
}

.select-tag-parent::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f107";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    right: 15px;
}

@media screen and (max-width: 576px) {
    .select-tag-parent::after {
        font-size: 14px;
    }
}

/* ================================= Loan Request Website ===================================
   ====================================== 09/12/2022 ========================================  */

#bob-main-section {
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/bg-intro-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bob_main_section_title {
    text-align: center;
    color: #fff;
    width: 450px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 29px;
    font-weight: 900;
    line-height: 32px;
    font-family: var(--main-font);
}

@media screen and (max-width: 576px) {
    .bob_main_section_title {
        font-size: 25px;
        line-height: 28px;
    }

}

/* ================================= Loan Request Website ==================================
   ====================================== First Step =======================================
   ====================================== 09/12/2022 ========================================  */

.bob-loan-request-steps {
    background: linear-gradient(135deg,
            rgba(62, 174, 89, 0.8) 0%,
            rgba(4, 74, 144, 0.8) 100%);
    width: 500px;
    max-width: 100%;
    padding: 50px 30px;
    position: relative;
    padding-bottom: 165px;
}

.bob-progress-container {
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.1);
}

.bob-progress-container,
.bob-progress {
    background-color: #eee;
    border-radius: 5px;
    position: relative;
    height: 10px;
    width: 400px;
    max-width: 100%;
}

.bob-progress-container {
    margin-left: auto;
    margin-right: auto;
}

.bob-progress {
    background-color: var(--main-color);
    width: 0;
    transition: width 0.4s linear;
}

.bob-percentage {
    background-color: var(--second-color);
    border-radius: 5px;
    box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 2px 8px;
    position: absolute;
    top: 20px;
    left: 0;
    transform: translateX(-50%);
    width: max-content;
    text-align: center;
    transition: left 0.4s linear;
    font-weight: 600;
}

.bob-percentage::after {
    background-color: var(--second-color);
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 10px;
    width: 10px;
    z-index: -1;
}

.bob-loan-request-multiple-steps {
    padding-top: 37px;
}

.bob-loan-request-multiple-steps ul li {
    font-size: 18px;
    color: #fff;
    position: relative;
    padding-left: 20px;
    margin-bottom: 4px;
}

.bob-loan-request-multiple-steps ul li::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.bob-loan-request-multiple-steps-form {
    width: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.bob-loan-request-multiple-steps-form h2 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-family: var(--main-font);
    margin-bottom: 8px;
    font-size: 22px;
    line-height: 30px;
}

.bob-loan-request-multiple-steps-form .bob-loan-request-multiple-steps-form-content {
    margin-bottom: 20px;
}

.bob-loan-request-multiple-steps-form label {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--main-font);
    margin-bottom: 5px;
    display: block;
}

.bob-loan-request-multiple-steps-form select,
.bob-loan-request-multiple-steps-form textarea,
.bob-loan-request-multiple-steps-form input {
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

.bob-loan-request-multiple-steps-form select {
    font-size: 14px;
}

.bob-loan-request-multiple-steps-form .bob-add-inner-box input {
    padding-left: 55px;
}

.bob-loan-request-multiple-steps-form .bob-add-inner-box {
    position: relative;
}

.bob-loan-request-multiple-steps-form .bob-add-inner-box::after {
    content: "$";
    display: block;
    width: 45px;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.bob-loan-request-multiple-steps-form button {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 10px;
    margin-top: 30px;
    background: var(--second-color);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--main-font);
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
}

.bob-loan-request-multiple-steps-form button::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #d07a02;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.bob-loan-request-multiple-steps-form button:hover::after {
    height: 0;
}

.bob-loan-request-multiple-steps-form button:hover {
    transform: translateY(4px);
}

.bob-loan-request-footer {
    background: #484545;
    padding: 20px 30px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bob-loan-request-footer-left-img,
.bob-loan-request-footer-right-img {
    padding: 0 5px;
}

.bob-loan-request-footer-left-img img,
.bob-loan-request-footer-right-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 576px) {
    .bob-loan-request-multiple-steps ul li {
        font-size: 14px;
    }

    .bob-loan-request-multiple-steps-form h2 {
        font-size: 22px;
        line-height: 26px;
    }

    .bob-loan-request-multiple-steps-form label {
        font-size: 14px;
        line-height: 17px;
    }

    .bob-loan-request-multiple-steps-form input {
        line-height: 17px;
        font-size: 14px;
    }

    .bob-loan-request-multiple-steps-form button,
    .bob-loan-request-multiple-steps-form .bob-add-inner-box::after {
        font-size: 14px;
    }

    .bob-loan-request-multiple-steps-form .bob-loan-request-multiple-steps-form-content {
        margin-bottom: 10px;
    }

    .bob-loan-request-steps {
        padding-bottom: 130px;
    }

    .bob-loan-request-footer {
        padding: 10px 20px;
    }
}

#bob-loan-request-first-step {
    display: block;
}

/* ================================= Loan Request Website ==================================
   ====================================== Second Step =======================================
   ====================================== 09/12/2022 ========================================  */

.bob-loan-request-multiple-steps-form-content p {
    text-align: center;
    color: #ffff;
}

.bob-loan-request-multiple-steps-form-input-field {
    margin-bottom: 10px;
}

#bob-loan-request-second-step {
    display: none;
}

/* ================================= Loan Request Website ==================================
   ====================================== Third Step =======================================
   ====================================== 09/12/2022 ========================================  */

.bob-loan-request-multiple-steps-form-input-box-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bob-loan-request-multiple-steps-form-input-box-child {
    position: relative;
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
    height: 170px;
}

.bob-loan-request-multiple-steps-form-input-box-child label img:last-child {
    display: none;
}

.bob-loan-request-multiple-steps-form-input-box-child label img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.bob-loan-request-multiple-steps-form-input-box-child label {
    cursor: pointer;
    text-align: center;
}

.bob-loan-request-multiple-steps-form-input-box-child label .bob-loan-request-multiple-steps-form-input-box-img-parent {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 576px) {
    .bob-loan-request-multiple-steps-form-input-box-child label .bob-loan-request-multiple-steps-form-input-box-img-parent {
        width: 60px;
        height: 60px;
    }

    .bob-loan-request-multiple-steps-form-input-box-child {
        flex-basis: calc(33.33333% - 30px);
        margin-left: 5px;
        margin-right: 5px;
        height: 130px;
    }

    .bob-loan-request-multiple-steps-form .bob-loan-request-multiple-steps-form-input-box-child label {
        font-size: 12px;
    }
}

#bob-loan-request-third-step {
    display: none;
}

/* ================================= Loan Request Website ==================================
   ====================================== Fourth Step =======================================
   ====================================== 09/12/2022 ========================================  */

.bob-loan-request-years-box-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bob-loan-request-years-box-parent label {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: #000;
    word-wrap: break-word;
}

@media screen and (max-width: 576px) {
    .bob-loan-request-years-box-parent label {
        width: 70px;
        height: 70px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

#bob-loan-request-fourth-step {
    display: none;
}

#bob-loan-request-fifth-step {
    display: none;
}

/* ================================= Loan Request Website ==================================
   ====================================== Sixth Step =======================================
   ====================================== 10/12/2022 ========================================  */

.bob-loan-request-postcode {
    align-items: center;
    justify-content: space-between;
}

.bob-loan-request-postcode .bob-loan-request-find-address {
    width: 180px;
    display: block;
    background: var(--main-color);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
}

@media screen and (max-width: 576px) {
    .bob-loan-request-postcode .bob-loan-request-find-address {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    .bob-loan-request-postcode .bob-loan-request-find-address {
        padding: 8px;
    }
}

.enter-address-manually {
    display: block;
    text-align: center;
    font-size: 16px;
    text-decoration: underline !important;
    color: #fff !important;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bob-when-did-you-move-here {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bob-when-did-you-move-here .select-tag-parent {
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}

.bob-when-did {
    text-align: center;
    margin-bottom: 5px;
}

.bob-para-content {
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}

.bob-loan-request-multiple-steps-form-input-field-ninth {
    margin-bottom: 30px;
}

.cutsom-checkbox-row input[type="checkbox"] {
    margin: 0;
    opacity: 0;
}

.cutsom-checkbox-row {
    position: relative;
    margin-bottom: 0px;
}

.cutsom-checkbox-row input[type="checkbox"]+label {
    padding-left: 41px;
    display: inline-block;
    margin-bottom: .5rem;
}

.cutsom-checkbox-row input[type="checkbox"]+label::before {
    border-color: #dddddd;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 22px;
    left: 0;
    position: absolute;
    transition: 0.3s linear all;
    width: 22px;
}

.cutsom-checkbox-row input[type="checkbox"]+label::before {
    border-color: #fff;
    background-color: #fff;
    border-radius: 0;
    transform: scale(1);
}

.cutsom-checkbox-row input[type="checkbox"]:checked+label::before {
    border-color: #3bb6b6;
    border-style: dotted;
    transition: 0.3s linear all;
}

.cutsom-checkbox-row input[type="checkbox"]:checked+label::before {
    background-color: #fbebeb;
    border-style: solid;
    border-color: #fbebeb;
}

.main-wrapper label a {
    color: #fff;
    text-decoration: underline !important;
}

.cutsom-checkbox-row input[type="checkbox"]:checked+label::after {
    transform: scale(1);
    opacity: 1;
}

.cutsom-checkbox-row input[type="checkbox"]:checked+label::after {
    color: #3bb6b6;
    content: '\2713';
    cursor: pointer;
    font-family: 'FontAwesome';
    font-weight: 300;
    left: 5px;
    position: absolute;
    top: 15px;
    transition: 0.3s linear all;
}

.cutsom-checkbox-row input[type="checkbox"]+label::after {
    transform: scale(2);
    opacity: 0;
}

.cutsom-checkbox-row input[type="checkbox"]+label::after {
    content: "";
    transform: scale(0);
    transition: 0.3s linear all;
}

#bob-loan-request-tenth-step,
#bob-loan-request-ninth-step,
#bob-loan-request-eighth-step,
#bob-loan-request-seventh-step,
#bob-loan-request-sixth-step {
    display: none;
}

#bob-loan-request-steps_second_part {
    display: none;
}

.bob_slidecontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bob_range_slider {
    -webkit-appearance: none;
    width: calc(100% - 120px) !important;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    outline: none;
    -webkit-transition: .2s;
    padding: 0 !important;
}

.bob_range_slider:hover {
    opacity: 1;
}

.bob_range_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #3fac59;
    background-image: url("../images/bg-dragger.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.bob_range_slider::-moz-range-thumb {
    background-image: url("../images/bg-dragger.svg");
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background: #3fac59;
}

.bob_loan_amount_range_title {
    text-align: center;
    color: #ffff;
    font-size: 16px;
    margin-bottom: 10px;
}

.bob_range_slider_button {
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: #3fac59;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
    margin-top: -30px;
}

.bob_loan_request_multiple_steps_form_first_part {
    padding: 0 !important;
    width: 100% !important;
    margin-top: 0 !important;
}

@media screen and (max-width: 576px) {
    .bob_range_slider_button {
        display: none;
    }

    .bob_range_slider {
        width: 100% !important;
    }

    .bob_range_slider_button {
        min-width: 25px;
        min-height: 25px;
    }

    .bob_range_slider::-webkit-slider-thumb {
        width: 35px !important;
        height: 35px !important;
    }

    .bob_range_slider::-moz-range-thumb {
        width: 35px !important;
        height: 35px !important;
    }

    .bob_range_slider {
        height: 15px;
    }

    .bob_loan_amount_range_price span {
        font-size: 30px !important;
    }
}

.bob_loan_amount_range_price span {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--main-font);
    color: #fff;
}

.bob_loan_amount_range_price {
    text-align: center;
    margin-top: 30px;
}

.bob_loan_request_multiple_steps_form_first_part button {
    font-size: 22px;
    padding: 10px 40px;
}

.bob_our_quotes {
    text-align: center;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.bob_Less_than_perfect {
    display: flex;
    align-items: center;
}

.bob_Less_than_perfect li {
    margin-left: 30px;
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    position: relative;
    padding-left: 40px;
    font-weight: 700;
}

.bob_Less_than_perfect li::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 300;
    content: '\2713';
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

@media screen and (max-width: 576px) {
    .bob_loan_request_multiple_steps_form_first_part button {
        font-size: 18px;
        padding: 7px 20px;
    }

    .bob_our_quotes {
        font-size: 16px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bob_Less_than_perfect {
        flex-direction: column;
        align-items: flex-start;
    }

    .bob_Less_than_perfect li {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        margin-left: 15px;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    .bob_Less_than_perfect li::after {
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
    }
}

.bob-loan-request-multiple-steps-form-input-box-child.bob_active label .bob-loan-request-multiple-steps-form-input-box-img-parent {
    background-color: var(--third-color);
}

.bob-loan-request-multiple-steps-form-input-box-child.bob_active label img:last-child {
    display: block;
}

.bob-loan-request-multiple-steps-form-input-box-child.bob_active label img:first-child {
    display: none;
}


.bob_please_specify {
    display: none;
    transition: .5s;
}

.bob-loan-request-years-box-parent label.bob_active2,
.bob-loan-request-years-box-parent label.bob_active3,
.bob-loan-request-years-box-parent label.bob_active4,
.bob-loan-request-years-box-parent label.bob_active5,
.bob-loan-request-years-box-parent label.bob_active_last,
.bob-loan-request-years-box-parent label.bob_active6 {
    background: var(--third-color);
    color: #fff;
}

.bob-loan-request-years-box-parent input[type="radio"] {
    display: none;
}

.bob_please_specify3 {
    margin-bottom: 27px;
    display: none;
}

.bob-loan-request-years-box-parent input {
    word-wrap: break-word;
    word-break: break-all;
}

.bob-display-show {
    display: block;
}

.bob-display-hide {
    display: none;
}

.bob_question_mark {
    cursor: pointer;
    position: relative;
}

.bob_question_mark::after {
    content: "?";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    color: var(--third-color);
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    margin-left: 5px;
}

.bob_tooltip_div {
    display: none;
    width: max-content;
    max-width: 70%;
    background: var(--main-color);
    color: #fff;
    padding: 7px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 10px);
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    transition: .5s;
}

.bob_tooltip_div::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 8px);
}

.bob_question_mark:hover .bob_tooltip_div {
    display: block;
}

.bob-seventh-error-msg p,
.bob-loan-request-multiple-steps-form-input-field+P,
.cutsom-checkbox-row+p,
.six-step-field+p,
.bob-fourth-error-msg p,
.bob-third-error-msg p,
.bob-loan-request-multiple-steps-form .bob-loan-request-multiple-steps-form-input-field p {
    background: var(--error-color);
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}

input[type="radio"].third-step-field {
    display: none;
}

/*=================== Loader Design ========================*/

.bob-loader-container {
    display: flex;
    width: 288px;
    padding: 50px 0;
    border-radius: 15px;
    background: linear-gradient(135deg,
            rgba(62, 174, 89, 1) 0%,
            rgba(4, 74, 144, 1) 100%);
    flex-direction: column;
    align-items: center;
}

.bob-loader-circular-progress {
    position: relative;
    background: transparent !important;
}


.bob-loader-progress-value {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.bob-loader-text {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}

.bob-loader-parent-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
}

.bob-loader-img {
    margin-bottom: 40px;
}

.bob-loader-parent-container {
    display: none;
}